autopep8==1.4.4
certifi==2024.7.4
chardet==3.0.4
Django==4.2.22
django-environ==0.4.5
django-filter==2.2.0
gunicorn==23.0.0
idna==2.8
Markdown==3.1.1
pycodestyle==2.5.0
python-decouple==3.1
pytz==2019.1
requests==2.32.4
sqlparse==0.3.0
urllib3==2.5.0
whitenoise==4.1.3
